@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --dark-main-color: #eee;
  --dark-secondary-color: #2c2c2c;
  --dark-delete: #b53f36;
  --dark-green: #20c961;

  --light-main-color: #2c2c2c;
  --light-secondary-color: #eee;
  --light-delete: #c21313;
  --light-green: #0b850b;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--dark-main-color);
  background-color: var(--dark-secondary-color);
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#main {
  margin: auto;
  margin-left: 152px;
}

#reorder{
  display: none;
}

/* Navigation */
header {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  margin: auto;
  max-width: 200px;
  white-space: nowrap;
  overflow: auto;
  text-align: center;
  background-color: var(--dark-secondary-color);

  transition: 0.2s;
}

#close{
  display: none;
}

#sort {
  margin-top: 25px;
}

.sort-todos {
  margin: 5px;
  border-radius: 50px;
}

#groups-header {
  margin-top: 25px;
}

.group-navbar {
  border-radius: 50px;
  margin: 5px;
}

.view-all-todos {
  margin-bottom: 15px;
}

.default-border {
  border: 1px solid var(--dark-main-color);
}

#sort,
#groups {
  list-style-type: none;
}

#sort h4,
#groups h4 {
  margin: 5px;
}

#sort a,
#groups a {
  color: var(--dark-main-color);
}

#groups button {
  color: var(--dark-main-color);
  border: 1px solid var(--dark-main-color);
  margin: 5px 0 15px 0;
  border-radius: 4px;
}

/* Todo Form */
#todo-form {
  margin: auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title title title right'
    'date time group right';
  font-size: 1em;
  border: 1px solid var(--dark-main-color);
  border-radius: 4px;
  padding: 8px;
  width: 66vw;
  max-width: 650px;
}

#todo-form-error {
  border: 1px solid var(--dark-main-color);
  margin: auto;
  border-top: none;
  border-radius: 4px;
  padding-left: 8px;
  width: 66vw;
  max-width: 650px;

  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

.error-text {
  color: var(--dark-delete);
  margin: 0;
  padding: 6px;
}

#title {
  grid-area: title;
}

#title label,
#group-title label {
  margin: 5px;
}

#todo-title,
#add-group {
  border: 1px solid var(--dark-main-color);
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

#date {
  grid-area: date;
  margin-right: 5px;
}

#todo-date,
#todo-time {
  border: 1px solid var(--dark-main-color);
  width: 100%;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
}


#time {
  grid-area: time;
  margin-right: 5px;
}

#group {
  grid-area: group;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23eee' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

#group option {
  background: var(--dark-secondary-color);
  color: var(--dark-main-color);
}

.form-select {
  color: var(--dark-main-color);
}

#add {
  grid-area: right;
  display: flex;
  justify-content: center;
  padding-left: 5px;
}

#todo-submit,
#group-submit-btn {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

#todo-submit span,
#group-submit span {
  color: var(--dark-green);
  font-size: 2.5rem;
}

#todo-form input,
#group-form input,
#todo-form select,
#todo-form button,
#group-form button {
  color: var(--dark-main-color);
  padding: 8px;
  background: transparent;
}

#todo-form ::placeholder,
#group-form ::placeholder,
#todo-form select,
#todo-form button,
#group-form button {
  color: var(--dark-main-color);
}

/* Todo Items */
#todos {
  display: flex;
  flex-flow: row wrap;
}

#todos .render-todo-container {
  margin: auto;
  margin-top: 25px;
  cursor: pointer;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

.render-todo {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title time'
    'title complete';
  margin: auto;
  width: 66vw;
  max-width: 550px;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 6px;
}

.render-title {
  grid-area: title;
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}

.render-dueDate {
  grid-area: time;
  margin: auto;
  color: var(--dark-green);
  padding-left: 7.5px;
}

.complete-todo {
  grid-area: complete;
  margin: auto;
  background: transparent;
  margin-top: 7.5px;
  margin-left: 7.5px;
  border-radius: 4px;
}

.todo-more-info {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  width: 66vw;
  max-width: 550px;
  margin: auto;
  border-radius: 4px;

  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.mi-group,
.group-data,
.mi-due-date,
.due-date-data,
.mi-date-added,
.date-added-data {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
}

/* Group Page */
#group-form {
  margin: auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr 0.65fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title title right'
    'label color right';
  font-size: 1em;
  border: 1px solid var(--dark-main-color);
  border-radius: 4px;
  padding: 8px;
  width: 66vw;
  max-width: 450px;
}

#group-form-error {
  margin: auto;
  border: 1px solid var(--dark-main-color);
  border-top: none;
  border-radius: 4px;
  padding-left: 8px;
  width: 66vw;
  max-width: 450px;

  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

#group-title {
  grid-area: title;
}

#group-color-helper {
  margin: auto;
  grid-area: label;
}

#group-color {
  grid-area: color;
}

#color-picker {
  border: 1px solid var(--dark-main-color);
  width: 100%;
  height: 42px;
  border-radius: 4px;
}

#group-submit {
  grid-area: right;
  display: flex;
  justify-content: center;
  padding-left: 5px;
}

#back {
  float: left;  
  margin-left: -120px;
  margin-top: 25px;
  border: 1px solid var(--dark-main-color);
  border-radius: 4px;
  color: var(--dark-main-color);
  background: transparent;
}

#back .icons {
  float: left;
  margin-right: 5px;
  padding-top: 2px;
  position: relative;
  z-index: 1;
  font-size: 20px;
}


/* User Groups */
#user-groups {
  display: flex;
  flex-flow: row wrap;
}

.render-group-container {
  margin: auto;
  margin-top: 25px;
}

.render-group {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'title color'
    'title delete';
  margin: auto;
  margin-top: 25px;
  font-size: 1em;
  border-radius: 4px;
  padding: 6px;
  width: 66vw;
  max-width: 350px;
}

.render-group-title {
  grid-area: title;
  font-size: 1.25em;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}

.render-group label {
  height: fit-content;
  grid-area: color;
  padding: 2px 6px 3px 6px;
  border-radius: 4px;
  cursor: pointer;
}

input.change-color {
  margin: auto;
  grid-area: color;
  opacity: 0;
}

.delete-group {
  grid-area: delete;
  border-radius: 4px;
  color: var(--dark-delete);
  background-color: transparent;
  border: 1px solid var(--dark-delete);
  margin-top: 7.5px;
}

/* Delete Group with Todos */
.group-warning {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'text text'
    'cont cont'
    'cancel delete';
  font-size: 1em;
  border-radius: 4px;
  padding: 6px;
  width: 66vw;
  max-width: 350px;

  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

.warning-text {
  grid-area: text;
  margin-bottom: 6px;
  margin: auto;
}

.warning-cont {
  grid-area: cont;
  margin: auto;
  padding-bottom: 12px;
}

.cancel {
  grid-area: cancel;
  border-radius: 4px;
  color: var(--dark-main-color);
  background-color: transparent;
  border: 1px solid var(--dark-main-color);
  width: max-content;
  height: max-content;
  margin: auto;
}

.delete-all {
  margin: auto;
  grid-area: delete;
  border-radius: 4px;
  color: var(--dark-delete);
  background-color: transparent;
  border: 1px solid var(--dark-delete);
  width: max-content;
  height: max-content;
}

/* Animation */
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--light-main-color);
    background-color: var(--light-secondary-color);
  }

  header{
    background-color: var(--light-secondary-color);
  }

  #sort a,
  #groups a,
  .form-select,
  #todo-form input,
  #group-form input,
  #todo-form select,
  #todo-form button,
  #group-form button,
  #todo-form ::placeholder,
  #group-form ::placeholder,
  #todo-form select,
  #todo-form button,
  #group-form button {
    color: var(--light-main-color);
  }

  #groups button,
  .cancel,
  #back {
    color: var(--light-main-color);
    border: 1px solid var(--light-main-color);
  }

  #todo-form,
  #todo-form-error,
  #todo-title,
  #add-group,
  #todo-group,
  #todo-date,
  #todo-time,
  #group-form,
  #group-form-error,
  #color-picker,
  .default-border {
    border: 1px solid var(--light-main-color);
  }

  .error-text {
    color: var(--light-delete);
  }

  #group {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343332' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  }

  #group option {
    background: var(--light-secondary-color);
    color: var(--light-main-color);
  }

  #todo-submit span,
  #group-submit span,
  .render-dueDate {
    color: var(--light-green);
  }

  .delete-group,
  .delete-all {
    color: var(--light-delete);
    border: 1px solid var(--light-delete);
  }
}

/* Media Queries */
@media (max-width: 600px){
  #main {
    margin-left: 0;
  }

  header {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  .sort-todos, .group-navbar, #edit-groups{
    font-size: .85em;
  }

  h4{
    font-size: .95em;
  }

  #reorder{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 3px;
    cursor: pointer;
  }

  #close{
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  #sort{
    padding-top: 15px;
  }
  
  #sort, #groups{
    padding-left: 0;
  }

  #todo-form, #group-form {
    width: 95vw;
    font-size: 0.85em;
    margin-top: 15px;
  }

  #group-form{
    clear: both;
  }

  #back{
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: .85em;
  }

  #back .icons{
    font-size: 18px;
  }

  #add {
    padding-top: 24px;
  }

  #todo-submit span {
    font-size: 2rem;
  }

  .form-select {
    font-size: inherit;
  }

  .render-todo {
    font-size: 0.9em;
  }

  .render-title, .render-group-title {
    font-size: 1.1em;
  }

  .complete-todo {
    padding-left: 5px;
    padding-right: 5px;
  }

  .mi-group,
  .group-data,
  .mi-due-date,
  .due-date-data,
  .mi-date-added,
  .date-added-data {
    font-size: 0.9em;
  }

  .render-group-container{
    margin-top: 0;
  }

  .render-group label, .delete-group {
    font-size: .9em;
  }

  .delete-group{
    padding: 2px 6px 3px 6px;
    margin-top: 5px;
  }
}

@media (max-width: 400px) {
  #todo-form, #group-form {
    font-size: 0.78em;
  }

  .render-title, .render-group-title {
    font-size: 1em;
  }

  .mi-group,
  .group-data,
  .mi-due-date,
  .due-date-data,
  .mi-date-added,
  .date-added-data {
    font-size: 0.75em;
  }

  .render-group label, .delete-group {
    font-size: .8em;
  }

  #back{
    font-size: .78em;
  }

  #back .icons{
    font-size: 14px;
  }
}
